<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi App</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <header>
    <h1>Mi tienda online</h1>
        <nav>
            <a href="/products">Productos</a> |
            <a href="/api/carts/{{cartId}}">Mi carrito</a>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>&copy; 2025 Mi Tienda</p>
    </footer>
</body>
</html>
